CT/Web References/SOAP.Demo/SOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:import schemaLocation="https://www.crcind.com:443/csp/samples/SOAP.ByNameDataSet.cls?XSD" namespace="http://tempuri.org/ByNameDataSet" />
      <s:import schemaLocation="https://www.crcind.com:443/csp/samples/SOAP.Demo.QueryByName.DS.cls?XSD" namespace="http://tempuri.org/QueryByName_DataSet" />
      <s:element name="AddInteger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Arg1" type="s:long" />
            <s:element minOccurs="0" name="Arg2" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AddIntegerResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideInteger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="Arg1" type="s:long" />
            <s:element minOccurs="0" name="Arg2" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="DivideIntegerResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="FindPersonResult" type="s0:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:complexContent mixed="false">
          <s:extension base="s0:Person">
            <s:sequence>
              <s:element minOccurs="0" name="Title">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="50" />
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element minOccurs="0" name="Salary">
                <s:simpleType>
                  <s:restriction base="s:long">
                    <s:maxInclusive value="100000" />
                    <s:minInclusive value="0" />
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element minOccurs="0" name="Notes" type="s:string" />
              <s:element minOccurs="0" name="Picture" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element name="Name" type="s:string" />
          <s:element name="SSN" type="s:string" />
          <s:element minOccurs="0" name="DOB" type="s:date" />
          <s:element minOccurs="0" name="Home" type="s0:Address" />
          <s:element minOccurs="0" name="Office" type="s0:Address" />
          <s:element minOccurs="0" name="Spouse" type="s0:Person" />
          <s:element minOccurs="0" name="FavoriteColors" type="s0:ArrayOfFavoriteColorsItemString" />
          <s:element minOccurs="0" name="Age" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" name="Street">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="80" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="City">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="80" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="State">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Zip">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="5" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFavoriteColorsItemString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FavoriteColorsItem" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetByNameResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSetByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetDataSetByNameResult" type="s0:ByNameDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ByNameDataSet">
        <s:sequence>
          <s:any namespace="http://tempuri.org/ByNameDataSet" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetListByNameResult" type="s0:ArrayOfPersonIdentificationPersonIdentification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonIdentificationPersonIdentification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonIdentification" nillable="true" type="s0:PersonIdentification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonIdentification">
        <s:sequence>
          <s:element minOccurs="0" name="ID" type="s:string" />
          <s:element name="Name" type="s:string" />
          <s:element name="SSN" type="s:string" />
          <s:element minOccurs="0" name="DOB" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:element name="LookupCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LookupCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="LookupCityResult" type="s0:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mission">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="MissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="MissionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="QueryByNameResult" type="s0:QueryByName_DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QueryByName_DataSet">
        <s:sequence>
          <s:any namespace="http://tempuri.org/QueryByName_DataSet" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddIntegerSoapIn">
    <wsdl:part name="parameters" element="s0:AddInteger" />
  </wsdl:message>
  <wsdl:message name="AddIntegerSoapOut">
    <wsdl:part name="parameters" element="s0:AddIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="DivideIntegerSoapIn">
    <wsdl:part name="parameters" element="s0:DivideInteger" />
  </wsdl:message>
  <wsdl:message name="DivideIntegerSoapOut">
    <wsdl:part name="parameters" element="s0:DivideIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="FindPersonSoapIn">
    <wsdl:part name="parameters" element="s0:FindPerson" />
  </wsdl:message>
  <wsdl:message name="FindPersonSoapOut">
    <wsdl:part name="parameters" element="s0:FindPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetByNameSoapIn">
    <wsdl:part name="parameters" element="s0:GetByName" />
  </wsdl:message>
  <wsdl:message name="GetByNameSoapOut">
    <wsdl:part name="parameters" element="s0:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetByNameSoapIn">
    <wsdl:part name="parameters" element="s0:GetDataSetByName" />
  </wsdl:message>
  <wsdl:message name="GetDataSetByNameSoapOut">
    <wsdl:part name="parameters" element="s0:GetDataSetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetListByNameSoapIn">
    <wsdl:part name="parameters" element="s0:GetListByName" />
  </wsdl:message>
  <wsdl:message name="GetListByNameSoapOut">
    <wsdl:part name="parameters" element="s0:GetListByNameResponse" />
  </wsdl:message>
  <wsdl:message name="LookupCitySoapIn">
    <wsdl:part name="parameters" element="s0:LookupCity" />
  </wsdl:message>
  <wsdl:message name="LookupCitySoapOut">
    <wsdl:part name="parameters" element="s0:LookupCityResponse" />
  </wsdl:message>
  <wsdl:message name="MissionSoapIn">
    <wsdl:part name="parameters" element="s0:Mission" />
  </wsdl:message>
  <wsdl:message name="MissionSoapOut">
    <wsdl:part name="parameters" element="s0:MissionResponse" />
  </wsdl:message>
  <wsdl:message name="QueryByNameSoapIn">
    <wsdl:part name="parameters" element="s0:QueryByName" />
  </wsdl:message>
  <wsdl:message name="QueryByNameSoapOut">
    <wsdl:part name="parameters" element="s0:QueryByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SOAPDemoSoap">
    <wsdl:operation name="AddInteger">
      <wsdl:input message="s0:AddIntegerSoapIn" />
      <wsdl:output message="s0:AddIntegerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DivideInteger">
      <wsdl:input message="s0:DivideIntegerSoapIn" />
      <wsdl:output message="s0:DivideIntegerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPerson">
      <wsdl:input message="s0:FindPersonSoapIn" />
      <wsdl:output message="s0:FindPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input message="s0:GetByNameSoapIn" />
      <wsdl:output message="s0:GetByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByName">
      <wsdl:input message="s0:GetDataSetByNameSoapIn" />
      <wsdl:output message="s0:GetDataSetByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListByName">
      <wsdl:input message="s0:GetListByNameSoapIn" />
      <wsdl:output message="s0:GetListByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LookupCity">
      <wsdl:input message="s0:LookupCitySoapIn" />
      <wsdl:output message="s0:LookupCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mission">
      <wsdl:input message="s0:MissionSoapIn" />
      <wsdl:output message="s0:MissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryByName">
      <wsdl:input message="s0:QueryByNameSoapIn" />
      <wsdl:output message="s0:QueryByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPDemoSoap" type="s0:SOAPDemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInteger">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.AddInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideInteger">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.DivideInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPerson">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.FindPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByName">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.GetDataSetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListByName">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.GetListByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LookupCity">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.LookupCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mission">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.Mission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByName">
      <soap:operation soapAction="http://tempuri.org/SOAP.Demo.QueryByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPDemo">
    <wsdl:port name="SOAPDemoSoap" binding="s0:SOAPDemoSoap">
      <soap:address location="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>